<script setup lang="ts">
import {ref} from "vue"
const text = ref("Edit Me")
const checked = ref(true)
const checkedNames = ref(["Jack"])
const picked = ref("one")
const selected = ref("A")
const multiselected = ref(["A"])
</script>

<template>
    <h2>Text Input</h2>
    <input v-model ="text"> {{ text }}

    <h2>Checkbox</h2>
    <input type="checkbox" v-model="checked" id="checkbox">
    <label for="checkbox">Checked: {{ checked }}</label>

    <h2>Multiple Checkbox</h2>
    <input type="checkbox" v-model="checkedNames" id="Jack" value="Jack">
    <label for="Jack">Jack</label>

    <input type="checkbox" v-model="checkedNames" id="John" value="John">
    <label for="John">John</label>

    <input type="checkbox" v-model="checkedNames" id="Mike" value="Mike">
    <label for="Mike">Mike</label>

    <p>Checked names</p>
    <pre>{{ checkedNames }}</pre>
    
    <h2>Radio</h2>
    <input type="radio" id="one" value="one" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="two" v-model="picked">
    <label for="two">Two</label><br />
    <span>Picked: {{ picked }}</span>
    
    <h2>Select</h2>
    <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    </select>
    <span>Selected: {{ selected }}</span>

    <h2>Multiple Select</h2>
    <select v-model="multiselected" multiple style="width: 100px;">
    <option disabled value="">Please select one</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    </select>
    <span>Selected: {{ multiselected }}</span>

</template>


<style scoped>

</style>