<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponent from './components/CalComponent.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandlingUserInput from './components/HandlingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionalsandLoops from './components/ConditionalsandLoops.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
  <div>
  <SimpleComponent />
  <br />
  <FormBindings />
  <br />
  <br />
  <ConditionalsandLoops />
  <br />
  <br />
  <AttributeBindings />
  <HandlingUserInput></HandlingUserInput>
  <HelloWorldExample />
  <CalComponent ></CalComponent>
  </div>
</template>

<style scoped>
  </style>
